exp202/results/*
exp202/results/
burgerLinker/
data/
getty/
exp100/archieve
.Rhistory
.ipynb_checkpoints/
aceh_object_linking.ipynb
queries/
candidates/
__pycache__
nmvw_data/
entitylinking/
.DS_Store
.idea/
workflow/nmvw_objects/*
