exp202/results/*
exp202/results/
burgerLinker/
data/
getty/
exp100/archieve
.Rhistory
.ipynb_checkpoints/
aceh_object_linking.ipynb
queries/
candidates/
__pycache__
nmvw_data/
entitylinking/
.DS_Store
.idea/
workflow/test_workflow/*
workflow/dataDirectory/nmvw_constituents.ttl
workflow/nmvw_objects/*.ttl
workflow/Bronbeek_Data/*.csv
workflow/Bronbeek_Data/*.nq
workflow/Bronbeek_Data/*.ttl
workflow/objects_from_15_const.ttl
workflow/dataConversion/bronbeek_data/Roles.csv.nq
workflow/dataConversion/bronbeek_data/sorted_Roles.csv.nq
workflow/dataDirectory/*s
