exp202/combined/ 
exp202/data/
exp202/inputs/
exp202/ranker_results/
exp202/results/*
exp202/results/
burgerLinker/
data/*
getty/
exp100/archieve
.Rhistory
.ipynb_checkpoints/
aceh_object_linking.ipynb
queries/
candidates/
__pycache__
nmvw_data/
entitylinking/
.DS_Store
.idea/
workflow/nmvw_objects/*
workflow/*.ttl
workflow/dataDirectory/*.ttl
exp100/data
workflow/test_workflow/constituents_15.ttl
workflow/test_workflow/constituents_links.ttl
workflow/test_workflow/constituents.ttl
workflow/test_workflow/nmvw_objects_related_to_15_constituents.nt
exp100/data/ground_truth.pkl
exp300/data/ground_truth.pkl
